In [1]:
import pandas

In [16]:
import pymongo
import pandas as pd
import os
from dotenv import load_dotenv

# os.environ.clear()
load_dotenv()

# MongoDB connection URI (change if needed)
MONGO_URI = os.environ.get("MONGO_URI")
print(MONGO_URI)

DB_NAME = "ems"
ATTENDANCE_COLLECTION = "attendances"
USER_COLLECTION = "users"
OUTPUT_CSV = "attendances_export.csv"

def export_merged_data_to_csv():
    client = pymongo.MongoClient(MONGO_URI)
    db = client[DB_NAME]

    # Fetch documents
    attendances = list(db[ATTENDANCE_COLLECTION].find())
    users = list(db[USER_COLLECTION].find())

    if not attendances or not users:
        print("One or both collections are empty.")
        return

    # Create DataFrames
    attend_df = pd.DataFrame(attendances)
    users_df = pd.DataFrame(users)

    # Convert ObjectId to string for merging
    attend_df['user'] = attend_df['user'].astype(str)
    users_df['_id'] = users_df['_id'].astype(str)

    # Select only necessary user fields
    user_fields = ['_id', 'name', 'position', 'joiningDate', 'linkedInId', 'githubId', 'leaveDate', 'address']
    users_df = users_df[user_fields]

    # Merge: attendances.user -> users._id
    merged_df = pd.merge(attend_df, users_df, left_on='user', right_on='_id', how='left')
    # print(merged_df.head())
    # Export to CSV
    # merged_df.to_csv(OUTPUT_CSV, index=False)
    print(f"Exported merged data to '{OUTPUT_CSV}' with {len(merged_df)} records.")
    return merged_df

mongodb+srv://chinarquantum:GHboz7Yq0DX1yVtF@cqai.wvbbg.mongodb.net/?retryWrites=true&w=majority&appName=CQAI

In [17]:
merged_df = export_merged_data_to_csv()

Exported merged data to 'attendances_export.csv' with 111 records.

In [18]:
merged_df.columns

Index(['_id_x', 'user', 'date', 'checkIn', 'totalHours', 'status', 'breaks',
       'createdAt', 'updatedAt', '__v', 'checkOut', 'overtimeHours',
       'regularHours', 'overworkingMinutes', '_id_y', 'name', 'position',
       'joiningDate', 'linkedInId', 'githubId', 'leaveDate', 'address'],
      dtype='object')

In [21]:
merged_df = merged_df.drop(["_id_x", "__v", "_id_y"], axis=1)

In [22]:
merged_df.head()

,user,date,checkIn,totalHours,status,breaks,createdAt,updatedAt,checkOut,overtimeHours,regularHours,overworkingMinutes,name,position,joiningDate,linkedInId,githubId,leaveDate,address
0,67175cb20d39c16d5f2af408,2025-01-08 03:58:13.257,"{'time': 2025-01-08 03:58:13.260000, 'location...",14.03,present,[],2025-01-08 03:58:13.272,2025-01-16 04:06:54.422,"{'time': 2025-01-08 18:00:00, 'location': {'la...",NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
1,67175cb20d39c16d5f2af408,2025-01-10 06:06:30.675,"{'time': 2025-01-10 06:06:30.676000, 'location...",11.89,present,[],2025-01-10 06:06:30.677,2025-01-16 04:06:55.074,"{'time': 2025-01-10 18:00:00, 'location': {'la...",NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
2,67175cb20d39c16d5f2af408,2025-01-13 07:23:17.888,"{'time': 2025-01-13 07:23:17.889000, 'location...",0.03,present,"[{'startTime': 2025-01-13 07:24:27.239000, 'en...",2025-01-13 07:23:17.890,2025-01-13 07:25:02.079,"{'time': 2025-01-13 07:25:02.077000, 'location...",NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
3,6784c241e12fe0ae8dd55e46,2025-01-13 07:50:54.377,"{'time': 2025-01-13 07:50:54.377000, 'location...",10.15,present,"[{'startTime': 2025-01-13 07:51:27.071000, 'en...",2025-01-13 07:50:54.378,2025-01-16 04:06:55.965,"{'time': 2025-01-13 18:00:00, 'location': {'la...",NaN,NaN,NaN,Sahreen Haider,Machine Learning Engineer,2024-03-01,sahreen-haider,sahreen-haider,[],"Pulwama, Jammu and Kashmir"
4,6784cdfce12fe0ae8dd56107,2025-01-14 06:16:21.661,"{'time': 2025-01-14 06:16:21.662000, 'location...",11.73,present,[],2025-01-14 06:16:21.663,2025-01-16 04:06:56.405,"{'time': 2025-01-14 18:00:00, 'location': {'la...",NaN,NaN,NaN,Owais Bin Mushtaq,Data Scientist,2023-11-01,owais-bin-mushtaq-066a04211,HakimOwais,"[{'startDate': '2025-01-15', 'leaveDate': '202...","Pulwama, J&K"

In [23]:
merged_df.to_csv(OUTPUT_CSV, index=False)